.ipynb_checkpoints/
Brats_2018 data
A_Brats
Setup_folders
Predictions
Checkpoints
Predictions_RANO
Checkpoints_RANO
Comp_images/
Brats_2018_data/
Comp_images_2/
Older_files
Predictions_RANO_test
Smaller_dataset.zip
