.ipynb_checkpoints/
Brats_2018 data
A_Brats
Setup_folders
Predictions
Checkpoints
Predictions_RANO
Checkpoints_RANO
Comp_images/
Brats_2018_data/
Comp_images_2/
Older_files
Predictions_RANO_test
Smaller_dataset.zip
TODELETE/nnUNet_results
2023_Lung_CT_code
BIN
CT_Data
Data_1
Brats_2018
CT_Dataset
brats_Dataset
Brats_2018_small
